body {
    font-family: "Andale Mono",monospace;
    background: rgb(58,180,166);
    background: linear-gradient(90deg, rgba(58,180,166,1) 0%, rgba(29,162,253,1) 50%, rgba(69,252,188,0.9784945960806197) 100%);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #FFFAF0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

#task-form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 15px;
    color: #000000;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #dff0d8;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

li:hover {
    background-color: #cde6c0;
}
